{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">User Dashboard</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Welcome, {{ user.username }}!</h3>
                    <div class="mt-4">
                        <h4>Your Profile Information</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Username:</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email:</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
